<h1>So..</h1>

<p class="conversation">You say: <br> - <strong>"<%= @question %>"</strong></p>
<p class="conversation" id="answer">Your coach: <br> - <strong>"<%= @answer %>"</strong> </p>

<%= link_to 'Ask another question', '/ask' %>


