<div class="container">

  <h1>Stupid coach 2.0!</h1>


  <form action="/answer">

    <div class="search-form-control">
      <input type="text" name="question" id="search_query" class="form-control string required" placeholder="Your question" value="<%= params[:question] %>">
      <input type="submit" class="btn btn-flat" value="Ask!">
    </div>
  </form>

</div>


